.container {
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
  display: flex;
  max-width: 550px;
  max-height : 120px;
}
.image {
  height: 100px;
  width : 150px;
  margin: 10px;
}
.imageContainer {
  flex-shrink: 1;
}
.rightSide {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  margin: 10px;
}
.addBtn {
  color: white;
  background-color: #2a8cff;
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 40px;
}
.data {
  flex: 1;
  display: flex;
}
.left {
    flex : 1;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap : 20px;
}
.price {
    font-weight: 600;
    font-size: 20px;
}
.description {
    margin-top: 10px;
}
